.logger {
    border: 1px solid #c7c7c7;
    

    .header {
        border-bottom: 1px solid #c7c7c7;
    }

    .log {
        overflow: scroll;
        white-space: nowrap;
        max-height: 200px;
    }
}