<div class="container mt-4">
  <div class="main-area">
    <div class="network-map">
      <app-network-map></app-network-map>
    </div>
    
    <div class="node-list">
      <app-node-list></app-node-list>
    </div>

    <div class="simulation-controls">
      <app-simulation-controls></app-simulation-controls>
    </div>

    <div class="log">
      <app-logger></app-logger>
    </div>

    <div class="blockchain-mini">
      <app-blockchain-miniature></app-blockchain-miniature>
    </div>
  </div>
</div>
<app-block-drawer></app-block-drawer>
<app-node-drawer></app-node-drawer>